.fit-cover {
  object-fit: cover;
}

.ufwniuifeg {
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #eb5027;
}

.hufwferf {
  font-weight: 600;
  color: #f4f1e0;
}

.gihgrj {
  padding: 10px 18px;
  color: #eb5027;
  border-bottom: 5px solid #eb5027;
  font-weight: 600;
  border-radius: 0px;
}

.ehW9T2II7cgR9rZ {
}

.ehW9T2II7cgR9rZ p {
  color: #ffffff;
  font-weight: 500;
}

@media (min-width: 992px) {
  .ehW9T2II7cgR9rZ h2 {
    font-size: 90px !important;
  }
}

.ehW9T2II7cgR9rZ h2 {
  font-weight: 600;
  color: #ffffff;
  font-size: 50px;
}

.deflux {
  display: flex;
  align-items: center;
  justify-content: end;
}

.deflux h4 {
  max-width: 900px;
  color: #ffffff;
}

.deflux img {
  height: auto;
  border-radius: 10px !important;
  width: 100%;
  max-width: 900px;
}

.uVsres7tg img {
  width: 100%;
  border-radius: 15px;
}

.ufwniuifef {
  background-color: #f4f1e0;
  border-radius: 18px;
}

._3077b5 {
  color: #f4f1e0;
  padding: 15px;
  background-color: #3077b5;
  border-radius: 15px;
}

@media (min-width: 992px) {
  ._3077b5 h1 {
    font-size: 90px !important;
  }
}

._3077b5 h1 {
  font-weight: 700;
  font-size: 33px;
}

@media (min-width: 992px) {
  ._3077b5 {
    padding: 40px;
  }
}

@media (min-width: 992px) {
  .ufwniuifeg {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  ._3077b5 h3 {
    font-weight: 600;
    font-size: 35px;
  }
}

.wdvideo {
  border: 2px solid black;
  width: 100%;
  height: auto;
  border-radius: 18px;
}

.contactmain {
  position: relative;
  min-height: 100vh;
}

.lbton2 {
}

.lbton.lbton2:hover {
  color: #3077b5 !important;
}

h1 {
}

.QFuxJzgM6 {
  color: #eb5027;
  font-weight: 700;
}

@media (min-width: 576px) {
  .QFuxJzgM6 {
    font-size: 70px;
  }
}

@media (min-width: 992px) {
  .QFuxJzgM6 {
    font-size: 100px;
  }
}

@media (min-width: 1200px) {
  .QFuxJzgM6 {
    font-size: 130px;
  }
}

.qEbR1He7F {
  line-height: initial;
  color: #eb5027;
}

@media (min-width: 992px) {
  .qEbR1He7F {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .qEbR1He7F {
    font-size: 25px;
  }
}

.thelink {
  text-align: center;
  border-radius: 45px;
  padding: 16px;
  width: 80%;
  background-color: rgba(235,80,39,0);
  display: block;
  font-size: x-large;
  font-weight: 700;
  color: #ffffff;
  border: 2px solid white;
}

.thelink:hover {
  color: #3077b5;
  background-color: #ffffff;
}

.c3FHb0cHE {
  width: 80%;
  padding: 15px;
  display: block;
  border: 2px solid white;
  border-radius: 40px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
}

.c3FHb0cHE:hover {
  background: #ffffff;
  color: #eb5027;
}

.huihwfeef {
  min-height: 70vh;
}

.cookiess {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 100%;
  max-width: 330px;
  height: auto;
  padding: 13px;
  background-color: #eb5027;
  border-radius: 15px;
  margin-right: 10px;
}

.cookiess h3 {
  color: #f4f1e0;
  font-weight: 800;
  font-family: 'Inter';
}

.cookiess p {
  color: #f4f1e0;
  font-weight: 500;
  line-height: 17px;
}

.cookiess button {
  background-color: #f4f1e0;
  border: 0px;
  border-radius: 18px;
  padding: 6px 23px;
  color: #eb5027;
  font-weight: 700;
}

.show {
  display: block !important;
}

