::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  padding: 1px;
  /*border-left: 1px solid #f4f1e0;*/
  background: #f4f1e0;
}

::-webkit-scrollbar-thumb {
  border: 1px solid #f4f1e0;
  border-radius: 5px;
  margin: 1px;
  background: #eb5027;
}

